:root {
    --primary-color: #3ECF4C;
}

nav {
    height: 80px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    gap: 36px;
    border-bottom: 1px solid #3A35411F
}

.account {
    display: flex;
}

nav li {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    list-style: none;
    margin: 0 0.5rem;
    width: 117px;
    line-height: 42px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #000;
}